<div style="height: 200px; background-color: aquamarine; ">

            <h4>Janmamkulam house , Koovappady P.O , Perumbavoor , Ernakulam</h4>
            <h4>Pincode : 683544</h4>
            <h4>Contact me : 8281625715</h4>

        



</div >

<h3 class="page-title white-text teal">Contact</h3>
<div class="container">
  <p>
    <a aria-label="Email Varad" href="mailto:arju.krish2000@gmail.com" target="_blank" data-position="top"
      data-tooltip="Email Varad" class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
        class="fa fa-envelope"></i><a aria-label="Email Varad" href="mailto:arju.krish2000@gmail.com"
        class="hoverline">arjun.krish2000@gmail.com</a></a>
  </p>
  <p>
    <a aria-label="View Varad on GitHub" href="https://github.com/arjunkrish2000" target="_blank"
      data-position="top" data-tooltip="View Varad on GitHub"
      class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i class="fa fa-github"></i><a
        aria-label="Varad on Github" href="https://github.com/arjunkrish2000" class="hoverline"
        target="_blank">github.com/arjukrish2000</a></a>
  </p>
  <p>
    <a aria-label="View Varad on LinkedIn" href="linkedin.com/in/arjun-krishna-j-g-5711b0181/" target="_blank"
      data-position="top" data-tooltip="View Varad on LinkedIn"
      class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
        class="fa fa-linkedin"></i><a aria-label="Varad on LinkedIn" href="linkedin.com/in/arjun-krishna-j-g-5711b0181/"
        class="hoverline" target="_blank">linkedin.com/in/varadbhogayata</a></a>
  </p>
</div>