<div style="height: 520px; background-color: aquamarine; ">
        <div>
            <h3>College : FISAT</h3>
            <h5>Course : Btech - Computer science</h5>
            <h5>Place : Angamaly</h5>
        </div>
        <br>
        <br>
        
        <div>
            <h3 style="">School : Chavara CMI Public School </h3>
            <h5>Course : XII - Computer Science</h5>
            <h5>Place : Pala</h5>
        </div>
        <br>
        <br>
        <div>
            <h3>School : Amrita Vidyalayam</h3>
            <h5>Course : I std to X std</h5>
            <h5>Place : Perumbavoor</h5>
        </div>
    </div>
