<div style="height: 520px; background-color: aquamarine; ">
        <div>
            <h3>Flight App</h3>
            <p>This is a project that we have done using html and css</p>
        </div>
        <br>
        <br>
        <div>
            <h3 style="">Cab Management system</h3>
            <p>This project is about a cab management service app in which customer can book a cab and nearby driver will get a message. its done using .net framework</p>
        </div>
        <br>
        <br>
        <div>
            <h3>Bootcart App</h3>
            <p>This is an ecommerce app. Angular as frontend and .net as backend. There are mainly 3 users - admin , customer , productmaster</p>
        </div>
    </div>

